{
  envV: {
    Bindings: {
      isAdult: {
        B: false
      },
      x: {
        N: 3
      }
    },
    IsFunctionScope: false
  },
  envP: {},
  envS: {},
  envVT: {
    Bindings: {
      isAdult: {},
      x: {}
    },
    HasReturn: false
  },
  envPT: {},
  envST: {},
  typeChecker: {},
  Stmt: {
    Stmt1: {
      Type: {},
      Identifier: x,
      Expression: {
        Value: 3,
        LineNumber: 1
      },
      LineNumber: 1
    },
    Stmt2: {
      Stmt1: {
        Type: {},
        Identifier: isAdult,
        Expression: {
          Value: false,
          LineNumber: 2
        },
        LineNumber: 2
      },
      Stmt2: {
        Condition: {
          Op: LT,
          ExprLeft: {
            Value: 18,
            LineNumber: 4
          },
          ExprRight: {
            Name: x,
            LineNumber: 4
          },
          LineNumber: 4
        },
        ThenBody: {
          Identifier: isAdult,
          Value: {
            Value: true,
            LineNumber: 5
          },
          LineNumber: 5
        },
        ElseBody: {
          Identifier: isAdult,
          Value: {
            Value: false,
            LineNumber: 7
          },
          LineNumber: 7
        },
        LineNumber: 4
      },
      LineNumber: 2
    },
    LineNumber: 1
  }
}