{
  envV: {
    Bindings: {
      transactions: {
        T: {
          Schema: [
            {
              Id: id,
              Type: {}
            },
            {
              Id: transaction,
              Type: {}
            },
            {
              Id: amount,
              Type: {}
            }
          ],
          File: [
            [
              id,
              transaction,
              amount
            ],
            [
              1,
              Peter,
              2500
            ],
            [
              2,
              Morten,
              2500
            ],
            [
              3,
              Anna,
              7500
            ],
            [
              2,
              Morten,
              10000
            ],
            [
              1,
              Peter,
              2500
            ],
            [
              4,
              Katrine,
              3500
            ]
          ],
          Headers: [
            {
              Identifier: id,
              Type: {}
            },
            {
              Identifier: transaction,
              Type: {}
            },
            {
              Identifier: amount,
              Type: {}
            }
          ],
          Records: [
            {
              Values: [
                {
                  N: 1
                },
                {
                  S: Peter
                },
                {
                  N: 2500
                }
              ]
            },
            {
              Values: [
                {
                  N: 2
                },
                {
                  S: Morten
                },
                {
                  N: 2500
                }
              ]
            },
            {
              Values: [
                {
                  N: 3
                },
                {
                  S: Anna
                },
                {
                  N: 7500
                }
              ]
            },
            {
              Values: [
                {
                  N: 2
                },
                {
                  S: Morten
                },
                {
                  N: 10000
                }
              ]
            },
            {
              Values: [
                {
                  N: 1
                },
                {
                  S: Peter
                },
                {
                  N: 2500
                }
              ]
            },
            {
              Values: [
                {
                  N: 4
                },
                {
                  S: Katrine
                },
                {
                  N: 3500
                }
              ]
            }
          ]
        }
      }
    },
    IsFunctionScope: false
  },
  envP: {},
  envS: {
    Bindings: {
      Transaction: [
        {
          Id: id,
          Type: {}
        },
        {
          Id: transaction,
          Type: {}
        },
        {
          Id: amount,
          Type: {}
        }
      ]
    }
  },
  envVT: {
    Bindings: {
      transactions: {
        SchemaId: Transaction
      }
    },
    HasReturn: false
  },
  envPT: {},
  envST: {
    Bindings: {
      Transaction: [
        {
          Id: id,
          Type: {}
        },
        {
          Id: transaction,
          Type: {}
        },
        {
          Id: amount,
          Type: {}
        }
      ]
    }
  },
  typeChecker: {},
  TopLevelDeclarations: [
    {
      Identifier: Transaction,
      Columns: [
        {
          Id: id,
          Type: {}
        },
        {
          Id: transaction,
          Type: {}
        },
        {
          Id: amount,
          Type: {}
        }
      ]
    }
  ],
  Stmt: {
    Type: {
      SchemaId: Transaction
    },
    Identifier: transactions,
    FilePath: ../../../MatildaCSVFiles/transaction.csv,
    LineNumber: 7
  }
}